<app-header />

<div>
  <div class="flex justify-center space-x-10 mt-40 ">
    <!-- menu doc -->
    <div class="text-[16px] ">
      <div class="flex w-[315px] justify-between">
        <div class="space-y-3">
          <div class="font-semibold text-[#003F62]">Categories</div>
          <div class="space-y-4">
            <div class="flex items-center ">
              <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
              <p>All categories</p>
            </div>
            <div class="flex items-center">
              <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
              <p>Tablet</p>
            </div>
            <div class="flex items-center">
              <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
              <p>Laptop</p>
            </div>
            <div class="flex items-center">
              <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
              <p>Headphones</p>
            </div>
            <div class="flex items-center">
              <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
              <p>Console</p>
            </div>
            <div class="flex items-center">
              <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
              <p>Other</p>
            </div>
          </div>
        </div>
        <div class="space-y-3">
          <div class="text-[#595959]">Reset</div>
          <div class="flex flex-col space-y-[17px] pl-4 items-center">
            <p>10</p>
            <p>5</p>
            <p>5</p>
            <p>5</p>
            <p>5</p>
            <p>5</p>
          </div>
        </div>
      </div>
      <hr class="border-[#BDBDBD] mt-5">

      <div>
        <div class="font-semibold text-[#003F62] mt-4 mb-4 ">Avaliability</div>
        <div class="flex w-[315px] justify-between">
          <div class="space-y-3">

            <div class="font-semibold text-[#303030]">0 selected</div>
            <div class="space-y-4">
              <div class="flex items-center ">
                <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
                <p>In stock</p>
              </div>
              <div class="flex items-center">
                <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
                <p>Tablet</p>
              </div>
            </div>
          </div>
          <div class="space-y-3">
            <div class="text-[#595959]">Reset</div>
            <div class="flex flex-col space-y-[17px] pl-4 items-center">
              <p>5</p>
              <p>0</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="border-[#BDBDBD] mt-5">


      <div>
        <div class="font-semibold text-[#003F62] mt-4 mb-4 ">Product type</div>
        <div class="flex w-[315px] justify-between">
          <div class="space-y-3">

            <div class="font-semibold text-[#303030]">0 selected</div>
            <div class="space-y-4">
              <div class="flex items-center ">
                <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
                <p>Smart-watch</p>
              </div>
            </div>
          </div>
          <div class="space-y-3">
            <div class="text-[#595959]">Reset</div>
            <div class="flex flex-col space-y-[17px] pl-4 items-center">
              <p>0</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="border-[#BDBDBD] mt-5">

      <div>
        <div class="font-semibold text-[#003F62] mt-4 mb-4 ">Brand</div>
        <div class="flex w-[315px] justify-between">
          <div class="space-y-3">

            <div class="font-semibold text-[#303030]">0 selected</div>
            <div class="space-y-4">
              <div class="flex items-center ">
                <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
                <p>Smart-watch</p>
              </div>
            </div>
          </div>
          <div class="space-y-3">
            <div class="text-[#595959]">Reset</div>
            <div class="flex flex-col space-y-[17px] pl-4 items-center">
              <p>5</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="border-[#BDBDBD] mt-5">

      <div>
        <div class="font-semibold text-[#003F62] mt-4 mb-4 ">Color</div>
        <div class="flex w-[315px] justify-between">
          <div class="space-y-3">
            <div class="font-semibold text-[#303030]">0 selected</div>
          </div>
          <div class="space-y-3">
            <div class="text-[#595959]">Reset</div>
          </div>
        </div>
        <div class="flex justify-center space-x-[22px] mt-5">
          <button class="w-[15px] h-[15px] bg-[#EDA415] rounded-full border focus:border-black"></button>
          <button class="w-[15px] h-[15px] bg-[#E42424] rounded-full border focus:border-black"></button>
          <button class="w-[15px] h-[15px] bg-[#1B5A7D] rounded-full border focus:border-black"></button>
          <button class="w-[15px] h-[15px] bg-[#ACACAC] rounded-full border focus:border-black"></button>
          <button class="w-[15px] h-[15px] bg-[#1D5F23] rounded-full border focus:border-black"></button>
          <button class="w-[15px] h-[15px] bg-[#2E56A3] rounded-full border focus:border-black"></button>
          <button class="w-[15px] h-[15px] bg-[#8131A7] rounded-full border focus:border-black"></button>
          <button class="w-[15px] h-[15px] bg-[#BC2944] rounded-full border focus:border-black"></button>
          <button class="w-[15px] h-[15px] bg-[#9BC14C] rounded-full border focus:border-black"></button>
        </div>
      </div>
      <hr class="border-[#BDBDBD] mt-5">

      <div>
        <div class="font-semibold text-[#003F62] mt-4 mb-4 ">Size</div>
        <div class="flex w-[315px] justify-between">
          <div class="space-y-3">
            <div class="font-semibold text-[#003F62]">0 selected</div>
            <div class="space-y-4">
              <div class="flex items-center">
                <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
                <p>M</p>
              </div>
              <div class="flex items-center">
                <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
                <p>S</p>
              </div>
              <div class="flex items-center">
                <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
                <p>X</p>
              </div>
              <div class="flex items-center">
                <input class="w-[25px] h-[25px]  mr-2" type="checkbox">
                <p>XX</p>
              </div>
            </div>
          </div>
          <div class="space-y-3">
            <div class="text-[#595959]">Reset</div>
            <div class="flex flex-col space-y-[17px] pl-4 items-center">
              <p>5</p>
              <p>5</p>
              <p>5</p>
              <p>5</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="border-[#BDBDBD] mt-5">


      <!-- san pham -->

      <div>

      </div>
    </div>

    <!-- sanpham -->
    <div>
      <div class=" grid grid-cols-3 gap-6 mb-20">
        <div class="product-container border-2 rounded-2xl w-[300px] h-[320px] pt-8 relative"
          *ngFor="let product of products">
          <div class="flex justify-center">
            <div>
              <div class="w-7 absolute pl-[220px] ">
                <div class="bg-[#B3D4E5] w-7 h-7 rounded-full flex items-center justify-center">
                  <img src="/assets/images/heart2.png" alt="" class="pr-[1px] pt-[1px]">
                </div>
              </div>
              <a href="product/{{product.id}}">
                <img src="{{product.image}}" class="w-[250px] h-[160px]">
              </a>

            </div>

          </div>

          <!-- Product Details -->
          <div class="product-details pl-3 pt-2 space-y-3 text-[17px] font-medium">
            <div>{{product.name}}</div>
            <div>${{product.price}}</div>
            <div class="flex space-x-2">
              <img src="/assets/images/star1.png" alt="">
              <img src="/assets/images/star1.png" alt="">
              <img src="/assets/images/star1.png" alt="">
              <img src="/assets/images/star1.png" alt="">
              <img src="/assets/images/star1.png" alt="">
            </div>
          </div>

          <!-- Buttons -->
          <div class="product-buttons  flex mt-10 space-x-2">
            <a href="cart">

            <button
              class="bg-[#87BCD9] w-[204px] h-[60px] text-black text-[15px] rounded-2xl font-semibold flex items-center justify-center space-x-14 ml-2">
              <div>Add to cart</div>
              <div class="w-7 h-7 bg-[#EDA415] rounded-full flex items-center justify-center">
                <img src="/assets/images/shopping-cart.png" class="w-[18px]">
              </div>
            </button>
          </a>

            <a href="product/{{product.id}}">

              <button
                class="bg-[#87BCD9] w-[70px] h-[60px] text-black text-[15px] rounded-2xl font-semibold flex items-center justify-center space-x-10 ">
                <img src="/assets/images/eye.png" class="">
              </button>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- banner -->
  <div class="relative flex justify-center items-center mt-20">
    <img src="/assets/images/laptop.png" alt="">
    <div class="absolute text-center space-y-8 pl-[720px]">
      <button type="button"
        class="font-semibold hover: hover:bg-white border hover:border-[#316887] hover:text-[#316887] text-white bg-[#EDA415] border-none rounded-full w-[135px] h-[45px]">
        New laptop
      </button>
      <div class="text-[#2E8FC5] font-bold text-[41px] ">Sale up to 50% off</div>
      <div class="text-white font-medium text-[18px]">12 inch hd display</div>
      <button type="button"
        class="font-semibold hover: hover:bg-white border hover:border-[#316887] hover:text-[#316887] text-white border-none bg-[#EDA415] rounded-full w-[135px] h-[45px]">
        Shop now
      </button>
    </div>
  </div>

</div>

<app-footer />
