.box:checked::before
{
  background-color: #B3D4E5;
}

.product-container {
  position: relative;
}

.product-container:hover .product-details {
  display: none;
}

.product-container:hover .product-buttons {
  display: flex;
}

.product-buttons {
  display: none;
}
