<div class="w-full h-[520px] bg-[#E2F4FF] mt-20 text-[#1B5A7D] pl-[90px]">
  <div class="mt-[50px] text-[#E2F4FF]">.</div>
  <div class="flex items-center space-x-[200px] ml-20 w-[1350px] p-10 bg-white rounded-xl mt-10 text-[14px] ">
    <div class="text-[29px] font-bold">
      Subscribe newsletter
    </div>
    <div>
      <button
        class="bg-[#EDA415] text-white px-4 py-2 rounded-3xl w-[380px] h-[63px]  flex items-center justify-between">
        <span>Email address</span>
        <img src="assets/images/send.png" alt="">
      </button>
    </div>
    <div class=" flex items-center">
      <img src="assets/images/headphone.png" alt="" class="mb-2 mr-2">
      <div class="">
        <p>Call us 24/7 :</p>
        <p>(+62) 0123 567 789</p>
      </div>
    </div>
  </div>




  <div class="flex space-x-[202px] ml-20 mt-20 text-[19px] font-regular">
    <div>
      <img src="assets/images/logo2.png" alt="">
      <p class="text-[16px] w-[200px] pb-5 pt-5">64 st james boulevard hoswick , ze2 7zj</p>
      <hr class="border-[#9D9D9D]">

      <div class="flex space-x-10 pt-5">
        <img src="assets/images/google.png" alt="">
        <img src="assets/images/facebook.png" alt="">
        <img src="assets/images/whatsapp.png" alt="">
      </div>
    </div>
    <div>
      <div class="font-semibold">
        Find product
      </div>
      <div class="">
        <li>Brownze arnold</li>
        <li>Chronograph blue</li>
        <li>Smart phones</li>
        <li>Automatic watch</li>
        <li>Hair straighteners</li>
      </div>
    </div>
    <div>
      <div class="font-semibold">
        Get help
      </div>
      <div class="">
        <li>Brownze arnold</li>
        <li>Chronograph blue</li>
        <li>Smart phones</li>
        <li>Automatic watch</li>
        <li>Hair straighteners</li>
      </div>
    </div>
    <div>
      <div class="font-semibold">
        About us
      </div>
      <div class="">
        <li>Brownze arnold</li>
        <li>Chronograph blue</li>
        <li>Smart phones</li>
        <li>Automatic watch</li>
        <li>Hair straighteners</li>
      </div>
    </div>
  </div>
</div>
