<div class="fixed inset-y-0 z-10 flex w-80">
  <svg
    class="absolute inset-0 h-full text-white"
    style="filter: drop-shadow(10px 0 10px #00000030)"
    preserveAspectRatio="none"
    viewBox="0 0 309 800"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  ></svg>
  <div class="z-10 flex flex-col flex-1 textdecoration-none">
    <div class="flex items-center justify-between flex-shrink-0 w-64 p-4 mt-5">
      <a>ADMIN</a>
    </div>

    <div class="space-y-1 mt-5">
      <nav
        class="ml-1 flex flex-col flex-1 w-64 p-3 hover:bg-gray-100 border-l-4 border-transparent hover:border-blue-400 rounded-r-lg"
      >
        <div class="flex items-center space-x-2 no-underline text-[17px] ml-2">
          <i class="fa-solid fa-house"></i>
          <a href="/admin" class="text-black">Trang Chủ</a>
        </div>
      </nav>
      <nav
        class="ml-1 flex flex-col flex-1 w-64 p-3 hover:bg-gray-100 border-l-4 border-transparent hover:border-blue-400 rounded-r-lg"
      >
        <div class="flex items-center space-x-2 no-underline text-[17px] ml-2">
          <i class="fa-solid fa-shop"></i>
          <a href="/admin/products" class="text-black">Sản Phẩm</a>
        </div>
      </nav>
      <nav
        class="ml-1 flex flex-col flex-1 w-64 p-3 hover:bg-gray-100 border-l-4 border-transparent hover:border-blue-400 rounded-r-lg"
      >
        <div class="flex items-center space-x-2 no-underline text-[17px] ml-2">
          <i class="fa-solid fa-list-ul"></i>
          <a href="/admin/category/add">Danh Mục</a>
        </div>
      </nav>
      <nav
        class="ml-1 flex flex-col flex-1 w-64 p-3 hover:bg-gray-100 border-l-4 border-transparent hover:border-blue-400 rounded-r-lg"
      ></nav>
    </div>

    <div class="mt-[405px] ml-6">
      <div class="flex mb-2">
        <div class="ml-2 mt-3"></div>
      </div>
      <button
        class="flex items-center space-x-2 no-underline hover:text-gray-400 ml-1"
      >
        <i class="fa-solid fa-right-from-bracket"></i>
        <a href="/" class="text-black">
          <div class="hover:text-gray-400 text-[17px]">Đăng xuất</div>
        </a>
      </button>
    </div>
  </div>
</div>
